<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>星巴克| Starbucks Taiwan</title>
</head>
<body>
    <div class="header">
        <div class="header__container">
          <div class="header__main">
            <div class="header__logo">
              <a ref="#"></a>
            </div>
            <div class="header__item">
              <ul class="header__list">
                <li><a>咖啡</a></li>
                <li><a>商品</a></li>
                <li><a>門市</a></li>
                <li><a>星禮程</a></li>
                <li><a>第四生活空間</a></li>
                <li><a>送禮專區</a></li>
                <li><a>線上門市</a></li>
              </ul>
            </div>
          </div>
          <div class="header__sub"><a ref="#"></a></div>
        </div>
      </div>
    <div class="top">
        <div class="container">
            <ul>
                <li><a href="#">首頁</a></li>
                <li><a href="#">商品</a></li>
                <li><a href="#">飲料專區</a></li>
                <li><a href="#">其他飲料</a></li>
            </ul>
        </div>
    </div>
    <h3><%= title %> -- <%= name %> <%= id %></h3>
   <div class="wrap-coffee">

        <div class="coffee-content">
                <ul class="view-list">
                    <li>咖啡飲品</li>
                    <li>茶瓦納</li>
                    <li>星冰樂</li>
                    <li>冷萃咖啡</li>
                    <li>其他飲料</li>
                    <li>罐裝飲料</li>
                </ul>

                <article>
                    <h2>其他飲料系列</h2>
                    <ul>
                        <li>
                            <a href="#">
                                <div class="column-img">
                                    <img src="https://www.starbucks.com.tw/common/objects/images/product/20210930154959464.jpg" alt="">
                                </div>
                                <div class="column-text">
                                    <h1 class="title-cn">經典巧克力</h1>
                                    <h3 class="title-en">Signature Hot Chocolate</h3>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="column-img">
                                    <img src="https://www.starbucks.com.tw/common/objects/images/product/20210930155025344.jpg" alt="">
                                </div>
                                <div class="column-text">
                                    <h1 class="title-cn">冰經典巧克力</h1>
                                    <h3 class="title-en">Iced Signature Chocolate</h3>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="column-img">
                                    <img src="https://www.starbucks.com.tw/common/objects/images/product/20130813112304290.jpg" alt="">
                                </div>
                                <div class="column-text">
                                    <h1 class="title-cn">兒童熱可可</h1>
                                    <h3 class="title-en">Kid's Hot Chocolate</h3>
                                </div>
                            </a>
                        </li>
                    </ul>
                </article>
            </div>
        </div>

        <div class="fields">
            <div class="container">
                <ul>
                    <li><a href="#">首頁</a></li>
                    <li><a href="#">商品</a></li>
                    <li><a href="#">飲料專區</a></li>
                    <li><a href="#">其他飲料</a></li>
                </ul>
            </div>
        </div>
        
    <div class="footer">
        <div class="footer__top">
          <div class="footer__top--container">
            <div class="footer__top--container--socialicons">
              <ul>
                <li>
                  <a class="fb" href="https://www.facebook.com/starbuckstaiwan?ref=nf" target="_blank"></a>
                </li>
                <li>
                  <a class="ig" href="https://www.instagram.com/starbuckstw/" target="_blank"></a>
                </li>
                <li>
                  <a class="yt" href="https://www.youtube.com/user/STARBUCKSTW?feature=mhum" target="_blank"></a>
                </li>
                <li>
                  <a class="line" href="http://line.me/R/ti/p/@471vnurh" target="_blank"></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer__main">
          <div class="footer__main--container">
            <div class="footer__main--container--global">
              <div class="footer__main--container--global--infoblock">
                <h4>認識我們</h4>
                <ol>
                  <li>
                    <a href="#">關於星巴克</a>
                  </li>
                  <li>
                    <a href="#">企業責任</a>
                  </li>
                  <li>
                    <a href="#">企業公告</a>
                  </li>
                  <li>
                    <a href="#">星聞室</a>
                  </li>
                </ol>
              </div>
              <div class="footer__main--container--global--infoblock">
                <h4>夥伴招募</h4>
                <ol>
                  <li>
                    <a href="#">夥伴招募</a>
                  </li>
                  <li>
                    <a href="#">成為我們的夥伴</a>
                  </li>
                  <li>
                    <a href="#">我們的福利</a>
                  </li>
                  <li>
                    <a href="#">發展晉升與專業學習</a>
                  </li>
                </ol>
              </div>
              <div class="footer__main--container--global--infoblock">
                <h4>社群平台</h4>
                <ol>
                  <li>
                    <a href="#">Facebook</a>
                  </li>
                  <li>
                    <a href="#">Instagram</a>
                  </li>
                  <li>
                    <a href="#">Instagram</a>
                  </li>
                  <li>
                    <a href="#">LINE</a>
                  </li>
                </ol>
              </div>
              <div class="footer__main--container--global--infoblock">
                <h4>顧客關懷</h4>
                <ol>
                  <li>
                    <a href="#">常見問題</a>
                  </li>
                  <li>
                    <a href="#">我在星巴克的小故事</a>
                  </li>
                  <li>
                    <a class="footer__main--container--global--infoblock--green" href="#">網路謠言澄清說明</a>
                  </li>
                </ol>
              </div>
            </div>
          </div>
        </div>
        <div class="footer__bottom">
          <div class="footer__bottom--container">
            <ul class="footer__bottom--container-footersub">
              <li>
                <a href="#">網站地圖</a>
              </li>
              <li>
                <a href="#">個人資料保護政策</a>
              </li>
              <li>
                <a href="#">使用條款與須知</a>
              </li>
              <li>
                <a href="#">聯絡我們 Customer Service</a>
              </li>
              <li>
                客服專線 0800-000-482 (服務時間: 週一至週五 09:00-18:00，六日與國定假日除外)
              </li>
            </ul>
            <div>
              
            </div>
            <p class="footer__bottom--container--copyright">
              © 2021 Starbucks Coffee Company. All rights reserved.
            </p>
          </div>
        </div>
      </div>


</body>
</html>